extends layout

block content
  .container
    .row
      .col-xs-12
        h1= title

      .col-xs-6
        p Stub administrator page. You need to be in the 'admin' user group to see this page.
        p This page is currently set up only as a place to initiate a survey

      .col-xs-6
        a.btn.btn-block.btn-success(role='button', href='/survey') Initiate a Survey
