extends layout

block content
  .container
    .row
      .col-xs-12
        h1= title

      .col-xs-6
        #section-dump

      .col-xs-6
        button.btn.btn-block.btn-success#next-btn Next Section

block scripts
  script(src='/javascripts/survey.js')