extends layout

block content
  .container
    .row
      .col-xs-12
        h1= title

      .col-xs-12#questions

      .col-xs-12
        button.btn.btn-block.btn-success#next-btn Next

block scripts
  script(src='/javascripts/survey.js')