extends layout

block content
	.container#no-nav
		.row
			.col-xs-12
				h1= title
		.row
			.col-xs-8
				p.handoff Please activate fullscreen mode before handing over the device so that participants do not accidentally use the browser's back/forward buttons or address bar. You can exit fullscreen mode at any time by pressing the "esc" button.
				button#fullscreen.handoff.btn.btn-primary(type="button") Fullscreen
		.row.invisible
			.col-xs-12#questions
		.row.invisible
			- buttons = ["back", "repeat", "next"]
			each button in buttons
				//- form-group for margin-bottom
				.col-xs-4.form-group 
					button.btn.btn-block.btn-secondary(id="#{button}-btn") 
						span.text-capitalize #{button}

			.col-xs-12#incomplete-notice
				.alert.alert-danger.alert-dismissible.fade.in(role="alert")
					button.close(type="button", data-dismiss="alert", aria-label="Close")
						span(aria-hidden="true") &times;
					span You must answer this question before advancing

block scripts
	script(src='/javascripts/libraries/screenfull.js')
	script(src='/javascripts/survey.js')