extends layout

block content
	.container
		.row
			.col-xs-12
				h1= title
			.col-xs-12#questions
		.row
			- buttons = ["back", "repeat", "next"]
			each button in buttons
				.col-xs-3
					button.btn.btn-block.btn-secondary(id="#{button}-btn") 
						span.text-capitalize #{button}
				.col-xs-1

block scripts
	script(src='/javascripts/survey.js')