a {
  color: #00B7FF;
}

textarea {
  height: 7em;
}

.form-control-label {
	text-align: right;
}

.navbar {
	margin-bottom: 2em;
}

#questions {
	height: 20em;
}

#no-nav {
	margin-top: 5em;
}

/* http://stackoverflow.com/questions/468881/print-div-id-printarea-div-only/7532581#7532581 */
@media print {
  /* collapse columns for print */
  .print-expand { 
    width: 100%;
  }
  .print-expand * {
    font-size: 1rem;
    font-weight: normal;
  }
}